#mainContent
  display table-cell
  margin-top 10px
  margin-left 30px
  
#teaser
  margin 10px 10px 10px 10px
  display table
  width 100%
  overflow hidden
  border 1px solid #ddd
  -moz-border-radius 11px
  -webkit-border-radius 11px
  
.mainImage
  display table-cell
  height 300px
  width 100%

.sideImages
  display table-cell
  width 100%

.sideImage
  display block
  height 107px

#AppSelector
    width  100%
    margin  10px 10px 10px 10px
    padding  0px 0px 0px 0px
    border  1px solid #ddd
    -moz-border-radius  11px
    -webkit-border-radius  11px

    span
      font-size 110%
      margin-left 10px
      padding-left 10px
.app
   width 100px
   background #eee
   height 110px
   -moz-border-radius 11px
   -webkit-border-radius 11px
   margin 10px 10px 10px 10px;
   padding 0 0 0 0

   &:hover
     background #fff
     border 1px solid #eee

   a
     &hover
       text-decoration:none;

   h4
     color #000
     font-size 80%
     text-align center
     padding 0 0 0 0
     margin 0 0 0 0
   p
     margin 0 0 0 0;
     color #444
     font-size 70%
     margin-left 5px
     text-align center
     padding 0 0 0 0
     
   img 
    -moz-border-radius 11px
    -webkit-border-radius 11px;
    margin-left: 25px;
    width: 50px;
    background: #ccc;
