.vidbox {
  display: table-cell;
  width: 280px;
  height: 208px;
  margin: 10px;
  float: left;
  background: #161613;
  border: solid 2px #8399af;
  overflow: hidden;
  position: relative;
}
.vidFrame {
  width: 280px;
  height: 190px;
}
.vidcaption {
  float: left;
  position: absolute;
  background: #000;
  color: #fff;
  height: 100px;
  width: 100%;
  opacity: 0.8;
}
.vidcover {
  vertical-align: text-bottom;
  margin-top: -18px;
}
.vidcover h5 {
  text-align: center;
  color: #fff;
}
