article aside details figcaption figure footer heater hgroup menu section {
  display: block;
}
nav {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  background: url("http://d2o0t5hpnwv4c1.cloudfront.net/373_html5/final/images/nav_background.png");
}
nav ul {
  margin: 0 250px auto;
  width: 940px;
  list-style: none;
}
nav ul li {
  float: left;
}
nav ul li a {
  display: block;
  margin-right: 20px;
  font-size: 14px;
  line-height: 44px;
  text-align: center;
  text-decoration: none;
  color: #777;
  width: 140px;
}
nav ul li a:hover {
  color: #f5f;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1 h2 {
  font-size: 28px;
  line-height: 44px;
  padding: 22px 0;
}
h3 {
  font-size: 18px;
  line-height: 22px;
  padding: 11px 0;
}
p {
  padding-bottom: 22px;
}
#content {
  padding: 50px 0px 0px 0px;
  display: table;
}
#mainContent {
  display: table-cell;
  padding-right: 22px;
}
aside {
  vertical-align: top;
  display: table-cell;
  width: 150px;
}
aside section {
  margin: 22px 0 0 22px;
  padding: 11px 22px;
  background: url("http://d2o0t5hpnwv4c1.cloudfront.net/373_html5/final/images/sidebar_section_background.png") repeat-x;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
}
aside section ul {
  margin: 0 0 0 22px;
  list-style: none;
}
aside section ul li a {
  display: block;
  text-decoration: none;
  color: #000;
}
aside section ul li a:hover {
  text-decoration: underline;
}
.boxgrid {
  width: 280px;
  height: 208px;
  margin: 10px;
  float: left;
  background: #161613;
  border: solid 2px #8399af;
  overflow: hidden;
  position: relative;
}
.boxgrid img {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
}
.boxcaption {
  float: left;
  position: absolute;
  background: #000;
  color: #fff;
  height: 100px;
  width: 100%;
  poacity: 0.8;
}
.captionfull .boxcaption {
  top: 260;
  left: 0;
}
.caption .boxcaption {
  top: 220;
  left: 0;
}
.cover {
  top: -260;
  left: 0;
}
.cover a {
  display: block;
  text-decoration: none;
  color: #fff;
}
.cover a h3 {
  text-align: center;
}
